<template>
  <div class="list row">
    <div class="col-md-12">
      <div class="input-group mb-3">
        <input
          type="text"
          id="add-url-input"
          class="form-control"
          placeholder="Enter a URL..."
          v-model="fullUrl"
          :class="{ valid: isValidUrl() }"
        />
        <div class="input-group-append">
          <button
            id="add-url-button"
            class="btn btn-outline-secondary"
            type="button"
            @click="addUrl()"
            :disabled="!isValidUrl()"
            :class="{ valid: isValidUrl() }"
          >
            Shorten
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <template v-if="urls.length > 0">
        <div class="url-list-item" v-for="(url, index) in urls" :key="index">
          <div class="url-detail">
            <a target="_blank" :href="'https://pbid.io/' + url.short">https://pbid.io/{{ url.short }}</a> <br>
            <small>{{ url.full }}</small>
          </div>
          <div>
            <button
              class="btn btn-outline-danger btn-sm"
              type="button"
              @click="deleteUrl(url._id)"
            >
              Delete
            </button>
          </div>
        </div>
      </template>
      <template v-else>
        You haven't shortened any URLs yet
      </template>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import UrlService, { Url } from "../services/url.service";
import { v4 as uuidv4 } from "uuid";

@Component
export default class List extends Vue {
  urls: { full: string; short: string }[] = [];
  enabled = false;
  fullUrl = "";
  
  isValidUrl() {
    const pattern = new RegExp('^(https?:\\/\\/)?'+ // protocol
    '((([a-z\\d]([a-z\\d-]*[a-z\\d])*)\\.)+[a-z]{2,}|'+ // domain name
    '((\\d{1,3}\\.){3}\\d{1,3}))'+ // OR ip (v4) address
    '(\\:\\d+)?(\\/[-a-z\\d%_.~+]*)*'+ // port and path
    '(\\?[;&a-z\\d%_.~+=-]*)?'+ // query string
    '(\\#[-a-z\\d_]*)?$','i'); // fragment locator
    return !!pattern.test(this.fullUrl);
  }

  isInvalidUrl() {
    return !!this.fullUrl && !this.isValidUrl();
  }

  retrieveUrls() {
    UrlService.getAll()
      .then((response) => {
        this.urls = response.data;
      })
      .catch((e) => {
        console.log(e);
      });
  }

  addUrl() {
    const request: Url = {
      full: this.fullUrl,
      short : this.getUuid()
    };

    UrlService.create(request)
      .then(() => {
        this.retrieveUrls();
        this.fullUrl = "";
      })
      .catch((e) => {
        console.log(e);
      });
  }

  deleteUrl(id: string) {
    UrlService.deleteOne(id)
      .then(() => {
        this.retrieveUrls();
      })
      .catch((e) => {
        console.log(e);
      });
  }

  mounted() {
    this.retrieveUrls();
  }

  private getUuid() {
    const uuid = uuidv4();
    return (uuid as string).substring(0,8);
  }
}
</script>

<style scoped>
.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
}

.url-list-item {
  border: 1px solid #dedede;
  border-radius: 4px;
  padding: 1em;
  margin: 0.3em 0;
  display: flex;
  justify-content: space-between;
}

input.valid, input:focus.valid {
  color: #228822;
}

button.valid {
  color: #228822;
}

button.valid:hover {
    background-color: #00770044;
    border-color: #228822;
}

</style>